<template name="tabBar">
    <view class="t-bar-conts">
        <view class="t-title">ptengine</view>
        <view class="">
        通过秒级实时、灵活细分和精准热图提升转化
专业性与易用性两全其美
        </view>
        <view class="img-cont">
          <image src="/images/conts/3.png" class="img"/>
        </view> 
    </view>
</template>